<div class="container">
    <div class="row">
        <h1 class="title">
            Eat Da Burger!
        </h1>
    </div>
    <div class="row">
        <img alt="burger icon" class="burger-icon" src="assets/img/burger.png">
        </img>
    </div>
    <div class="row">
        <div class="col s12 m6 l5">
            <ul class="collection">
                <div class="not-devoured-group">
                </div>
            </ul>
        </div>
        <div class="col s12 m6 l5 offset-l2">
            <ul class="collection">
                <div class="devoured-group">
                </div>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l3">
            <form>
                <div class="form-group">
                    <h5> Burger: </h5>
                    <input id="burg" name="burger" type="text">
                    </input>
                </div>
                <button class="waves-effect waves-light btn" id="addBurger" type="submit">
                    Add Burger
                </button>
            </form>
        </div>
    </div>
</div>
{{#each burgers}}
	{{#if devoured}}
<li class="collection-item devoured">
    <input name="id" type="hidden" value="{{this.id}}">
        <span name="burger-name">
        </span>
        {{this.burger_name}}
    </input>
</li>
{{else}}
<li class="collection-item not-devoured">
    <form>
        
            <div class="row center-vert">
                <div class="col s6">
                    <p>
                        <span name="burger-name">
                        </span>
                        {{this.burger_name}}
                    </p>
                </div>
                <div class="col s6 submit-parent">
                    <button class="secondary-content waves-effect waves-light btn devour" name="devoured" data-id={{id}} data-devoured="{{devoured}}" type="ratio">
                        Devour!
                    </button>
                </div>
            </div>
       
    </form>
</li>
{{/if}}
{{/each}}
<script>
    $('.devoured').appendTo($('.devoured-group'));
	$('.not-devoured').appendTo($('.not-devoured-group'));
</script>
